<div class="header">

    <div class="page-container d-flex justify-between align-center">
        <h1 class="logo">Exclusive</h1>
        
        <nav>
            <ul class="d-flex gap-5">
                @for (item of _navbarItems; track item.id) {
                    <li>{{item.text}}</li>
                }
            </ul>
        </nav>
        
        <div class="search d-flex gap-3">
            <input type="text" placeholder="What are you looking for?">
            <mat-icon svgIcon="search"></mat-icon>
        </div>

    </div>
</div>
