<div class="sign">
  <div class="banner">dasdas</div>

  <div class="form d-flex f-column">
    <div class="form__text d-flex f-column">
      <h1>Create an account</h1>
      <p>Enter your details below</p>
    </div>

    <form>
      <div class="input-group">
        <label for="name">Name</label>
        <input id="name" type="text" />
      </div>
      <div class="input-group">
        <label for="name">E-mail</label>
        <input id="name" type="text" />
      </div>
      <div class="input-group">
        <label for="name">Password</label>
        <input id="name" type="text" />
      </div>
    </form>
  </div>
</div>
