<div class="sign">
  <div class="banner">dasdas</div>

  <div class="form d-flex f-column">
    <div class="form__text d-flex f-column">
      <h1>Create an account</h1>
      <p>Enter your details below</p>
    </div>

    <form class="d-flex f-column gap-4">
      @for (field of _fields; track field.id) {

      <div
        class="input-group"
        [ngClass]="{'input-group--focused': field.isFocused}"
      >
        <label [for]="field.id">{{field.label}}</label>
        <input
          type="text"
          [id]="field.id"
          (focus)="onFocusInput(field)"
          (blur)="onBlurInput(field)"
        />
      </div>

      }
    </form>
  </div>
</div>
